<div class="container">
  <div class="row">
    <div>
      <h4 class="my-4 bg-info rounded-pill p-1 text-center text-white">ログイン</h4>
      <p class="ml-5 border-bottom border-success">会員の方はこちらからログイン</p>
    </div>
    <div class="col-10 mx-auto">
         <div class="col-11 mx-auto">
           <table class="table table-borderless">
             <%= form_with model: @customer, url: customer_session_path(@customer) do |f| %>
             <tr class="field">
               <td><%= f.label :メールアドレス %></td>
               <td><%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: 'sample@example.com', class: 'w-75' %></td>
             </tr>
             <tr class="field">
               <td><%= f.label :パスワード %></td>
               <td><%= f.password_field :password, autocomplete: "current-password", class: 'w-75' %></td>
             </tr>
             <tr class="actions">
               <td colspan="1"></td>
               <td><%= f.submit "ログイン", class: 'btn btn-primary btn-sm px-5' %></td>
             </tr>
            </table>
           </div>
          <% end %>
    </div>
   </div>
  <div class="row">
    <div class="ml-5">
      <p>会員登録がお済みでない方</p>
      <p class="ml-5"><%= render "public/shared/links" %> から新規登録を行なってください</p>
    </div>
  </div>
</div>